*.[oO][gG][gG][tT][hH][eE][oO][rR][aA] filter=lfs diff=lfs merge=binary -text
*.[mM]2[tT] filter=lfs diff=lfs merge=binary -text
*.[mM][tT][sS] filter=lfs diff=lfs merge=binary -text
*.[mM][pP]4 filter=lfs diff=lfs merge=binary -text
*.[aA][vV][iI] filter=lfs diff=lfs merge=binary -text
*.[mM][kK][vV] filter=lfs diff=lfs merge=binary -text
*.[wW][mM][vV] filter=lfs diff=lfs merge=binary -text
*.[aA][sS][fF] filter=lfs diff=lfs merge=binary -text
*.[aA][sS][xX] filter=lfs diff=lfs merge=binary -text
*.[rR][mM] filter=lfs diff=lfs merge=binary -text
*.[rR][mM][vV][bB] filter=lfs diff=lfs merge=binary -text
*.3[gG][pP] filter=lfs diff=lfs merge=binary -text
*.3[gG][pP][pP] filter=lfs diff=lfs merge=binary -text
*.3[gG][pP][pP]2 filter=lfs diff=lfs merge=binary -text
*.[mM][oO][vV] filter=lfs diff=lfs merge=binary -text
*.[mM]4[vV] filter=lfs diff=lfs merge=binary -text
*.[dD][aA][tT] filter=lfs diff=lfs merge=binary -text
*.[vV][oO][bB] filter=lfs diff=lfs merge=binary -text
*.[dD][vV] filter=lfs diff=lfs merge=binary -text
*.[mM][pP][eE][gG] filter=lfs diff=lfs merge=binary -text
*.[mM][pP][gG] filter=lfs diff=lfs merge=binary -text
*.[mM][pP][eE] filter=lfs diff=lfs merge=binary -text
*.[mM]2[vV] filter=lfs diff=lfs merge=binary -text
*.[wW][eE][bB][mM] filter=lfs diff=lfs merge=binary -text
*.[fF][lL][vV] filter=lfs diff=lfs merge=binary -text
*.[sS][wW][fF] filter=lfs diff=lfs merge=binary -text
*.[aA][vV][cC] filter=lfs diff=lfs merge=binary -text
*.[aA][rR][fF] filter=lfs diff=lfs merge=binary -text
*.[vV][cC][rR] filter=lfs diff=lfs merge=binary -text
*.[oO][gG][vV] filter=lfs diff=lfs merge=binary -text

*.[aA][pP][eE] filter=lfs diff=lfs merge=binary -text
*.[wW][aA][vV] filter=lfs diff=lfs merge=binary -text
*.[mM]4[aA] filter=lfs diff=lfs merge=binary -text
*.[mM][pP]3 filter=lfs diff=lfs merge=binary -text
*.[fF][lL][aA][cC] filter=lfs diff=lfs merge=binary -text
*.[aA][iI][fF] filter=lfs diff=lfs merge=binary -text
*.[aA][iI][fF][fF] filter=lfs diff=lfs merge=binary -text
*.[aA][aA][cC] filter=lfs diff=lfs merge=binary -text
*.[cC][pP][aA] filter=lfs diff=lfs merge=binary -text
*.[sS][wW][aA] filter=lfs diff=lfs merge=binary -text
*.[sS][eE][sS][xX] filter=lfs diff=lfs merge=binary -text
*.[sS][eE][sS] filter=lfs diff=lfs merge=binary -text
*.[bB][nN][kK] filter=lfs diff=lfs merge=binary -text
*.[wW][eE][mM] filter=lfs diff=lfs merge=binary -text
*.[pP][cC][aA] filter=lfs diff=lfs merge=binary -text

*.[aA] filter=lfs diff=lfs merge=binary -text
*.[oO] filter=lfs diff=lfs merge=binary -text
*.[sS][oO] filter=lfs diff=lfs merge=binary -text
*.[lL][iI][bB] filter=lfs diff=lfs merge=binary -text
*.[dD][lL][lL] filter=lfs diff=lfs merge=binary -text
*.[lL][bB][rR] filter=lfs diff=lfs merge=binary -text
*.[tT][lL][bB] filter=lfs diff=lfs merge=binary -text
*.[cC][aA][bB] filter=lfs diff=lfs merge=binary -text
*.[dD][yY][lL][iI][bB] filter=lfs diff=lfs merge=binary -text
*.[dD][sS][yY][mM] filter=lfs diff=lfs merge=binary -text
*.[aA][pP][pP] filter=lfs diff=lfs merge=binary -text
*.[iI][pP][aA] filter=lfs diff=lfs merge=binary -text
*.[dD][mM][gG] filter=lfs diff=lfs merge=binary -text
*.[eE][xX][eE] filter=lfs diff=lfs merge=binary -text
*.[pP][dD][bB] filter=lfs diff=lfs merge=binary -text
*.[dD][bB][gG] filter=lfs diff=lfs merge=binary -text
*.[rR][uU][nN] filter=lfs diff=lfs merge=binary -text
*.[pP][yY][dD] filter=lfs diff=lfs merge=binary -text
*.[pP][yY][cC] filter=lfs diff=lfs merge=binary -text
*.[nN][uU][pP][kK][gG] filter=lfs diff=lfs merge=binary -text
*.[pP][cC][hH] filter=lfs diff=lfs merge=binary -text
*.[iI][lL][kK] filter=lfs diff=lfs merge=binary -text
*.[dD][eE][bB][uU][gG] filter=lfs diff=lfs merge=binary -text
*.[oO][bB][jJ] filter=lfs diff=lfs merge=binary -text
*.[sS][tT][uU][bB] filter=lfs diff=lfs merge=binary -text
*.[dD][dD][pP] filter=lfs diff=lfs merge=binary -text
*.[sS][yY][mM] filter=lfs diff=lfs merge=binary -text
*.[lL][lL][dD] filter=lfs diff=lfs merge=binary -text
*.[rR][eE][sS] filter=lfs diff=lfs merge=binary -text
*.[lL][oO][cC][rR][eE][sS] filter=lfs diff=lfs merge=binary -text
*.[aA][aA][rR] filter=lfs diff=lfs merge=binary -text
*.[uU][dD][dD] filter=lfs diff=lfs merge=binary -text
*.[mM][dD][bB] filter=lfs diff=lfs merge=binary -text
*.[dD][dD][cC] filter=lfs diff=lfs merge=binary -text
*.[uU][dD][nN] filter=lfs diff=lfs merge=binary -text
*.[hH]5 filter=lfs diff=lfs merge=binary -text



*.[aA][rR] filter=lfs diff=lfs merge=binary -text
*.[cC][pP][iI][oO] filter=lfs diff=lfs merge=binary -text
*.[sS][hH][aA][rR] filter=lfs diff=lfs merge=binary -text
*.[tT][aA][rR] filter=lfs diff=lfs merge=binary -text
*.[lL][bB][rR] filter=lfs diff=lfs merge=binary -text
*.[bB][rR][oO][tT][lL][iI] filter=lfs diff=lfs merge=binary -text
*.[zZ][iI][pP] filter=lfs diff=lfs merge=binary -text
*.[bB][zZ][iI][pP]2 filter=lfs diff=lfs merge=binary -text
*.[cC][oO][mM][pP][rR][eE][sS][sS] filter=lfs diff=lfs merge=binary -text
*.[gG][zZ][iI][pP] filter=lfs diff=lfs merge=binary -text
*.[zZ][oO][pP][fF][lL][iI] filter=lfs diff=lfs merge=binary -text
*.[lL][zZ][mM][aA] filter=lfs diff=lfs merge=binary -text
*.[lL][zZ]4 filter=lfs diff=lfs merge=binary -text
*.[lL][zZ][iI][pP] filter=lfs diff=lfs merge=binary -text
*.[lL][zZ][oO][pP] filter=lfs diff=lfs merge=binary -text
*.[sS][qQ] filter=lfs diff=lfs merge=binary -text
*.[xX][zZ] filter=lfs diff=lfs merge=binary -text
*.[zZ][sS][tT][aA][nN][dD][aA][rR][dD] filter=lfs diff=lfs merge=binary -text
*.7[zZ] filter=lfs diff=lfs merge=binary -text
*.[aA][cC][eE] filter=lfs diff=lfs merge=binary -text
*.[aA][rR][cC] filter=lfs diff=lfs merge=binary -text
*.[aA][rR][jJ] filter=lfs diff=lfs merge=binary -text
*.[bB]1 filter=lfs diff=lfs merge=binary -text
*.[cC][aA][bB][iI][nN][eE][tT] filter=lfs diff=lfs merge=binary -text
*.[cC][fF][sS] filter=lfs diff=lfs merge=binary -text
*.[cC][pP][tT] filter=lfs diff=lfs merge=binary -text
*.[dD][aA][rR] filter=lfs diff=lfs merge=binary -text
*.[dD][gG][cC][aA] filter=lfs diff=lfs merge=binary -text
*.[dD][mM][gG] filter=lfs diff=lfs merge=binary -text
*.[eE][gG][gG] filter=lfs diff=lfs merge=binary -text
*.[kK][gG][bB] filter=lfs diff=lfs merge=binary -text
*.[lL][hH][aA] filter=lfs diff=lfs merge=binary -text
*.[lL][zZ][xX] filter=lfs diff=lfs merge=binary -text
*.[mM][pP][qQ] filter=lfs diff=lfs merge=binary -text
*.[pP][eE][aA] filter=lfs diff=lfs merge=binary -text
*.[rR][aA][rR] filter=lfs diff=lfs merge=binary -text
*.[rR][zZ][iI][pP] filter=lfs diff=lfs merge=binary -text
*.[sS][iI][tT] filter=lfs diff=lfs merge=binary -text
*.[sS][iI][tT][xX] filter=lfs diff=lfs merge=binary -text
*.[sS][qQ][xX] filter=lfs diff=lfs merge=binary -text
*.[uU][dD][aA] filter=lfs diff=lfs merge=binary -text
*.[xX][aA][rR] filter=lfs diff=lfs merge=binary -text
*.[zZ][oO][oO] filter=lfs diff=lfs merge=binary -text
*.[zZ][pP][aA][qQ] filter=lfs diff=lfs merge=binary -text
*.[aA][pP][kK] filter=lfs diff=lfs merge=binary -text
*.[aA][pP][pP][xX] filter=lfs diff=lfs merge=binary -text
*.[dD][eE][bB] filter=lfs diff=lfs merge=binary -text
*.[rR][pP][mM] filter=lfs diff=lfs merge=binary -text
*.[mM][sS][iI] filter=lfs diff=lfs merge=binary -text
*.[iI][pP][aA] filter=lfs diff=lfs merge=binary -text
*.[jJ][aA][rR] filter=lfs diff=lfs merge=binary -text
*.[wW][aA][rR] filter=lfs diff=lfs merge=binary -text
*.[eE][aA][rR] filter=lfs diff=lfs merge=binary -text
*.[xX][aA][pP] filter=lfs diff=lfs merge=binary -text
*.[xX][bB][aA][pP] filter=lfs diff=lfs merge=binary -text
*.[hH][aA][pP] filter=lfs diff=lfs merge=binary -text
*.[aA][pP][pP] filter=lfs diff=lfs merge=binary -text
*.[gG][zZ] filter=lfs diff=lfs merge=binary -text
*.[tT][gG][zZ] filter=lfs diff=lfs merge=binary -text
*.[bB][zZ]2 filter=lfs diff=lfs merge=binary -text
*.[zZ] filter=lfs diff=lfs merge=binary -text
*.[pP][aA][kK] filter=lfs diff=lfs merge=binary -text
*.[aA][rR][cC][hH][iI][vV][eE] filter=lfs diff=lfs merge=binary -text
*.[vV][sS][iI][xX] filter=lfs diff=lfs merge=binary -text
*.[iI][sS][oO] filter=lfs diff=lfs merge=binary -text
*.[bB][iI][nN] filter=lfs diff=lfs merge=binary -text
*.[cC][uU][eE] filter=lfs diff=lfs merge=binary -text
*.[rR][aA][wW] filter=lfs diff=lfs merge=binary -text

*.[pP][sS][dD] filter=lfs diff=lfs merge=binary -text
*.[aA][iI] filter=lfs diff=lfs merge=binary -text
*.[eE][pP][sS] filter=lfs diff=lfs merge=binary -text
*.[pP][dD][fF] filter=lfs diff=lfs merge=binary -text

*.[cC][rR]2 filter=lfs diff=lfs merge=binary -text
*.[cC][rR][wW] filter=lfs diff=lfs merge=binary -text
*.[nN][eE][fF] filter=lfs diff=lfs merge=binary -text
*.[nN][rR][wW] filter=lfs diff=lfs merge=binary -text
*.[sS][rR]2 filter=lfs diff=lfs merge=binary -text
*.[dD][nN][gG] filter=lfs diff=lfs merge=binary -text
*.[aA][rR][wW] filter=lfs diff=lfs merge=binary -text
*.[oO][rR][fF] filter=lfs diff=lfs merge=binary -text
*.[fF][bB][xX] filter=lfs diff=lfs merge=binary -text
*.3[dD][sS] filter=lfs diff=lfs merge=binary -text
*.[xX][cC][fF] filter=lfs diff=lfs merge=binary -text
*.[hH][dD][rR] filter=lfs diff=lfs merge=binary -text
*.[dD][uU][fF] filter=lfs diff=lfs merge=binary -text
*.[mM][bB] filter=lfs diff=lfs merge=binary -text
*.[cC][uU][bB][eE][mM][aA][pP] filter=lfs diff=lfs merge=binary -text
*.[nN][aA][vV][mM][eE][sS][hH] filter=lfs diff=lfs merge=binary -text
*.[oO][sS][mM] filter=lfs diff=lfs merge=binary -text
*.[hH][iI][pP] filter=lfs diff=lfs merge=binary -text
*.[cC][dD][rR] filter=lfs diff=lfs merge=binary -text
*.[rR][aA][wW] filter=lfs diff=lfs merge=binary -text
*.[dD][aA][eE] filter=lfs diff=lfs merge=binary -text
*.[hH][dD][aA] filter=lfs diff=lfs merge=binary -text
*.[gG][eE][oO] filter=lfs diff=lfs merge=binary -text
*.[bB][gG][eE][oO] filter=lfs diff=lfs merge=binary -text
*.[mM][aA] filter=lfs diff=lfs merge=binary -text
*.[mM][aA][xX] filter=lfs diff=lfs merge=binary -text
*.3[dD][mM] filter=lfs diff=lfs merge=binary -text
*.[bB][lL][eE][nN][dD] filter=lfs diff=lfs merge=binary -text
*.[cC]4[dD] filter=lfs diff=lfs merge=binary -text
*.[cC][oO][lL][lL][aA][dD][aA] filter=lfs diff=lfs merge=binary -text
*.[dD][xX][fF] filter=lfs diff=lfs merge=binary -text
*.[jJ][aA][sS] filter=lfs diff=lfs merge=binary -text
*.[lL][wW][sS] filter=lfs diff=lfs merge=binary -text
*.[lL][xX][oO] filter=lfs diff=lfs merge=binary -text
*.[pP][lL][yY] filter=lfs diff=lfs merge=binary -text
*.[sS][kK][pP] filter=lfs diff=lfs merge=binary -text
*.[sS][tT][lL] filter=lfs diff=lfs merge=binary -text
*.[zZ][tT][lL] filter=lfs diff=lfs merge=binary -text
*.[iI][tT] filter=lfs diff=lfs merge=binary -text
*.[mM][oO][dD] filter=lfs diff=lfs merge=binary -text
*.[oO][gG][gG] filter=lfs diff=lfs merge=binary -text
*.[sS]3[mM] filter=lfs diff=lfs merge=binary -text
*.[xX][mM] filter=lfs diff=lfs merge=binary -text
*.[gG][lL][bB] filter=lfs diff=lfs merge=binary -text
*.[gG][lL][tT][fF] filter=lfs diff=lfs merge=binary -text
*.[oO][fF][fF] filter=lfs diff=lfs merge=binary -text
*.[wW][rR][lL] filter=lfs diff=lfs merge=binary -text
*.3[mM][fF] filter=lfs diff=lfs merge=binary -text
*.[aA][mM][fF] filter=lfs diff=lfs merge=binary -text
*.[iI][fF][cC] filter=lfs diff=lfs merge=binary -text
*.[bB][rR][eE][pP] filter=lfs diff=lfs merge=binary -text
*.[sS][tT][eE][pP] filter=lfs diff=lfs merge=binary -text
*.[fF][cC][sS][tT][dD] filter=lfs diff=lfs merge=binary -text
*.[bB][iI][mM] filter=lfs diff=lfs merge=binary -text

*.[jJ][pP][gG] filter=lfs diff=lfs merge=binary -text
*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=binary -text
*.[tT][iI][fF][fF] filter=lfs diff=lfs merge=binary -text
*.[gG][iI][fF] filter=lfs diff=lfs merge=binary -text
*.[sS][vV][gG] filter=lfs diff=lfs merge=binary -text
*.[sS][vV][gG][zZ] filter=lfs diff=lfs merge=binary -text
*.[bB][mM][pP] filter=lfs diff=lfs merge=binary -text
*.[pP][nN][gG] filter=lfs diff=lfs merge=binary -text
*.[tT][iI][fF] filter=lfs diff=lfs merge=binary -text
*.[tT][gG][aA] filter=lfs diff=lfs merge=binary -text
*.[pP][rR][jJ] filter=lfs diff=lfs merge=binary -text
*.[dD][wW][gG] filter=lfs diff=lfs merge=binary -text
*.[fF][lL][tT] filter=lfs diff=lfs merge=binary -text
*.[hH][tT][rR] filter=lfs diff=lfs merge=binary -text
*.[iI][gG][eE][sS] filter=lfs diff=lfs merge=binary -text
*.[iI][gG][sS] filter=lfs diff=lfs merge=binary -text
*.[iI][gG][eE] filter=lfs diff=lfs merge=binary -text
*.[iI][pP][tT] filter=lfs diff=lfs merge=binary -text
*.[iI][aA][mM] filter=lfs diff=lfs merge=binary -text
*.[lL][pP] filter=lfs diff=lfs merge=binary -text
*.[lL][sS] filter=lfs diff=lfs merge=binary -text
*.[sS][hH][pP] filter=lfs diff=lfs merge=binary -text
*.[aA][eE][pP] filter=lfs diff=lfs merge=binary -text
*.[pP][sS][bB] filter=lfs diff=lfs merge=binary -text
*.[eE][dD][xX] filter=lfs diff=lfs merge=binary -text
*.[cC][dD][sS] filter=lfs diff=lfs merge=binary -text
*.[eE][xX][rR] filter=lfs diff=lfs merge=binary -text
*.[bB][cC] filter=lfs diff=lfs merge=binary -text


*.[xX][lL][sS] filter=lfs diff=lfs merge=binary -text
*.[xX][lL][sS][xX] filter=lfs diff=lfs merge=binary -text
*.[xX][sS][lL][sS][mM] filter=lfs diff=lfs merge=binary -text
*.[xX][lL][tT] filter=lfs diff=lfs merge=binary -text
*.[xX][lL][tT][xX] filter=lfs diff=lfs merge=binary -text
*.[xX][lL][tT][mM] filter=lfs diff=lfs merge=binary -text
*.[pP][pP][tT] filter=lfs diff=lfs merge=binary -text
*.[pP][pP][tT][xX] filter=lfs diff=lfs merge=binary -text
*.[pP][pP][sS] filter=lfs diff=lfs merge=binary -text
*.[pP][pP][sS][xX] filter=lfs diff=lfs merge=binary -text
*.[pP][pP][sS][mM] filter=lfs diff=lfs merge=binary -text
*.[pP][pP][tT][mM] filter=lfs diff=lfs merge=binary -text
*.[pP][oO][tT] filter=lfs diff=lfs merge=binary -text
*.[pP][oO][tT][mM] filter=lfs diff=lfs merge=binary -text
*.[dD][oO][cC] filter=lfs diff=lfs merge=binary -text
*.[dD][oO][cC][xX] filter=lfs diff=lfs merge=binary -text
*.[dD][oO][cC][mM] filter=lfs diff=lfs merge=binary -text
*.[dD][oO][tT] filter=lfs diff=lfs merge=binary -text
*.[dD][oO][tT][xX] filter=lfs diff=lfs merge=binary -text
*.[dD][oO][tT][mM] filter=lfs diff=lfs merge=binary -text
*.[kK][eE][yY] filter=lfs diff=lfs merge=binary -text
*.[pP][aA][gG][eE][sS] filter=lfs diff=lfs merge=binary -text
*.[nN][uU][mM][bB][eE][rR][sS] filter=lfs diff=lfs merge=binary -text

*.[cC][hH][mM] filter=lfs diff=lfs merge=binary -text
*.[mM][oO][bB][iI] filter=lfs diff=lfs merge=binary -text
*.[eE][pP][uU][bB] filter=lfs diff=lfs merge=binary -text
*.[aA][zZ][wW] filter=lfs diff=lfs merge=binary -text
*.[aA][zZ][wW]3 filter=lfs diff=lfs merge=binary -text
*.[iI][bB][aA] filter=lfs diff=lfs merge=binary -text
*.[lL][rR][sS] filter=lfs diff=lfs merge=binary -text
*.[lL][rR][fF] filter=lfs diff=lfs merge=binary -text
*.[lL][rR][xX] filter=lfs diff=lfs merge=binary -text
*.[dD][jJ][vV][uU] filter=lfs diff=lfs merge=binary -text
*.[lL][iI][tT] filter=lfs diff=lfs merge=binary -text
*.[rR][fF][tT] filter=lfs diff=lfs merge=binary -text
*.[cC][bB][rR] filter=lfs diff=lfs merge=binary -text
*.[cC][bB][zZ] filter=lfs diff=lfs merge=binary -text
*.[cC][bB]7 filter=lfs diff=lfs merge=binary -text
*.[cC][bB][tT] filter=lfs diff=lfs merge=binary -text
*.[cC][bB][aA] filter=lfs diff=lfs merge=binary -text
*.[pP][dD][bB] filter=lfs diff=lfs merge=binary -text

*.[tT][tT][fF] filter=lfs diff=lfs merge=binary -text
*.[oO][tT][fF] filter=lfs diff=lfs merge=binary -text
*.[wW][oO][fF][fF] filter=lfs diff=lfs merge=binary -text
*.[wW][oO][fF][fF]2 filter=lfs diff=lfs merge=binary -text

*.[pP][oO] filter=lfs diff=lfs merge=binary -text
*.exe filter=lfs diff=lfs merge=binary -text
*.dll filter=lfs diff=lfs merge=binary -text

